<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/patha/eclipse-workspace/TDD_Framwork"><classes><class name="com.auto.tests.LoginTests"><methods><include name="loginScenario"/></methods></class><class name="com.auto.tests.OrangeCRMSanitySuiteTest"><methods><include name="validateRegisterUser"/></methods></class><class name="com.auto.tests.RegistrationTests"><methods><include name="registerUserUsingRandomData"/></methods></class><class name="com.auto.tests.VarifyingShoppingOrderTest"><methods><include name="LoginPositiveTest"/><include name="OrderItem"/></methods></class></classes></test></suite>